<div class="container">
	<div class="alert alert-success" ng-show="showAlert">{{alertMessage}}</div>
	<h2>Novo atributo</h2>
	<form>
		<div class="form-group">
			<label for="attributeName">Nome</label>
			<input type="text" ng-model="attribute.name" class="form-control" id="attributeName"> 
		</div>
		
		<div class="form-group">
			<label for="attributeDescription">Descrição</label>
			<textarea type="text" ng-model="attribute.description" class="form-control" id="attributeDescription"></textarea>  
		</div>
		
		<button type="submit" class="btn btn-success" ng-click="saveAttribute()">Salvar</button>
		
	</form>
</div>