<div class="container">
	<a href="#/insignias/novo" type="button" class="btn btn-primary pull-right">Nova insígnia</a>
	<table ng-table="badgesTableParams" class="table" show-filter="false">
	    <tr ng-repeat="badge in $data">
	    	
	    	<td title="'ID'" filter="" sortable="''">
	            {{badge.id}}
	        </td>
	        
	        <td title="'Nome'" filter="{ name: 'text'}" sortable="''">
	            {{badge.name}}
	        </td>
	       	        
	        <td title="'Descrição'" filter="" sortable="''">
	            {{badge.description}}
	        </td>	   
	    </tr>
	</table>
</div>