<div class="container">
	<table ng-table="tableParams" class="table" show-filter="false">
	    <tr ng-repeat="user in $data">
	        <td title="'Nome'" filter="{ name: 'text'}" sortable="''">
	            {{user.name}}
	        </td>
	        <td title="'ID Externo'" filter="" sortable="''">
	            {{user.extern_id}}
	        </td>
	        <td title="'Nível'" filter="" sortable="''">
	            {{user.level}}
	        </td>
	        
	        <td title="'Experiência atual'" filter="" sortable="''">
	            {{user.current_xp}}
	        </td>
	        
	        <td title="'Experiência total'" filter="" sortable="''">
	            {{user.xp}}
	        </td>
	        
	        <td title="'Status'" filter="" sortable="''">
	        	<span ng-if="user.active == 1">Ativo</span>
	        	<span ng-if="user.active == 0">Inativo</span>
	        </td>
	    </tr>
	</table>
				
	<button type="submit" class="btn btn-default" ng-click="saveUser()">Salvar</button>

</div>