<div class="container">
	<a href="#/regras-nivel/novo" type="button" class="btn btn-primary pull-right">Nova regra de nível</a>
	<table ng-table="ruleLevelTableParams" class="table" show-filter="false">
	    <tr ng-repeat="rule in $data">
	    	
	       <td title="'ID'" filter="" sortable="''">
	            {{rule.rule.id}}
	        </td>
	        
	        <td title="'Regra'" filter="{ name: 'text'}" sortable="''">
	            {{rule.rule.name}}
	        </td>   	        
	        
	        <td title="'Ativa'" filter="" sortable="''">
	            {{rule.rule.active}}
	        </td>
      
	        <td title="'Inicia no nível'" filter="" sortable="''">
	            {{rule.startLevel}}
	        </td>
	        
	        <td title="'Termina no nível'" filter="" sortable="''">
	            {{rule.endLevel}}
	        </td>
	        
	        <td title="'XP para evoluir'" filter="" sortable="''">
	            {{rule.xpToLevelUp}}
	        </td>
	    </tr>
	</table>
</div>