<div class="container">

	<div class="alert alert-success" ng-show="showAlert">{{alertMessage}}</div>
	<form>
		<div class="form-group">
			<label for="ruleName">Nome da regra</label>
			<input type="text" ng-model="rule.name" class="form-control" id="ruleName" placeholder="Nome"> 
		</div>
		
		<div class="form-group">
			<label for="ruleXpReward">Recompensa em XP</label>
			<input ng-model="rule.xp_reward" type="number" class="form-control" id="ruleXpReward" placeholder="Ex.: 100">
		</div>
		
		{{ruleBadges}}		
		<div id="ruleBadgesContainer" ng-repeat="rb in ruleBadges">
			<div class="form-group">
				<label for="ruleBadge"> Insígnia a ser recompensada: </label><br>
			    <select ng-options="badge as badge.name for badge in listBadges" class="form-control" name="ruleBadge" id="ruleBadge" ng-model="ruleBadges[0].badge">
			      <option value="">Selecione uma insígnia...</option>
			    </select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="ruleName">Tipo</label>
			<select class="form-control" ng-model="type">
			    <option value="">Selecione um tipo...</option>
			    <option value="event">Recompensa por realização de evento</option>
			    <option value="attributeAmount">Recompensa por acumulo de atributo</option>			      
			</select>
		</div>
		
		<div class="form-group" ng-show="type == 'event'">
			<label for="ruleTimeToComplete">Ocorrências necessárias do evento para recompensa </label>
			<input ng-model="rule.timesToComplete" type="number" class="form-control" id="ruleTimeToComplete" placeholder="Ex.: 10">
		</div>
		{{selectedAttribute}}
		<div id="badgeAttributeWrapper" ng-show="type == 'attributeAmount'">
			<div class="form-group">
				<label for="ruleAttribute"> Atributo: </label><br>
			    <select ng-options="attribute as attribute.name for attribute in listAttributes" class="form-control" name="ruleAttribute" id="ruleAttribute" ng-model="selectedAttribute">
			      <option value="">Selecione um atributo...</option>
			    </select>
			</div>		
			<div class="form-group">
				<label for="ruleAttributeAmount">Quantidade necessário para conquistar recompensa:</label>
				<input ng-model="ruleAttributes[$index].amount" type="number" class="form-control" id="ruleAttributeAmount" placeholder="Ex.: 100">
			</div>		
		</div>
		<div class="checkbox">
			<label> 
				<input ng-model="rule.active" type="checkbox" ng-selected="true"> Ativar regra ao criar
			</label>
		</div>

		
		<button type="submit" class="btn btn-success" ng-click="saveRule()">Salvar</button>
		
	</form>
</div>