<div class="container">
	<div class="alert alert-success" ng-show="showAlert">{{alertMessage}}</div>
	<a href="#/regras-insignia/novo" type="button" class="btn btn-primary pull-right">Nova regra de insígnia</a>
	<table ng-table="ruleBadgeTableParams" class="table" show-filter="false">
	    <tr ng-repeat="ruleBadge in $data">
	    	
	       <td title="'ID'" filter="" sortable="''">
	            {{ruleBadge.rule.id}}
	        </td>
	        
	        <td title="'Regra'" filter="{ name: 'text'}" sortable="''">
	            {{ruleBadge.rule.name}}
	        </td>   	        
      
	        <td title="'Vezes para completar'" filter="" sortable="''">
	            {{ruleBadge.rule.timesToComplete}}
	        </td>
	        
	        <td title="'Recompensa em XP'" filter="" sortable="''">
	            {{ruleBadge.rule.xp}}
	        </td>
	        
	        <td title="'Regra cíclila'" filter="" sortable="''">
	            {{ruleBadge.rule.repeatable}}
	        </td>
	        
	        <td title="'Finalizada'" filter="" sortable="''">
	            {{ruleBadge.rule.finished}}
	        </td>
	        
	        <td title="'Ativa'" filter="" sortable="''">
	            {{ruleBadge.rule.active}}
	        </td>
	        
	        <td title="'ID da insígnia'" filter="" sortable="''">
	            {{ruleBadge.badge.id}}
	        </td>
	        
	        <td title="'Insígnia'" filter="" sortable="''">
	            {{ruleBadge.badge.name}}
	        </td>
	        
	         <td title="'Atributo'" filter="" sortable="''">
	            {{ruleBadge.attribute.name || "--"}}
	        </td>
	        
	         <td title="'Qtd necessária'" filter="" sortable="''">
	            {{ruleBadge.goalValue || "--"}}
	        </td>
	        
	        <td>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button"
						id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						opções <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a ng-click="deleteRule(ruleBadge.rule.id)" href="">Excluir</a></li>
						<li><a ng-click="" href="#">Editar</a></li>
					</ul>
				</div>
			</td>
	    </tr>
	</table>
</div>